<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/add" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="email" name="email" placeholder="email">
        <input type="text" name="birthdate" placeholder="date of birth">
        <input type="text" name="address" placeholder="address">
        <input type="text" name="accountbalance" placeholder="account balance">
        <input type="text" name="employment" placeholder="employment">
        <input type="text" name="salary" placeholder="salary">
        <input type="text" name="loan" placeholder="loan">
        <input type="text" name="period" placeholder="period">
        <input type="number" name="accountnumber" placeholder="accountnumber">
        <button type="submit">Upload</button>
    </form>

</body>
</html>